
:where(.animation-title-reveal, .animation-btn-reveal) {
	--animation-duration : 400ms;
	--animation-ease     : ease-out;
	--animation-delay    : 200ms;
}

.animation-title-reveal {
	& > [class^="title-"] > span:nth-child(1) > * {
		animation : fade-in-step var(--animation-duration) linear backwards;
	}

	& > [class^="title-"] > span:where(:nth-child(2), :nth-child(3)) {
		animation : fade-in var(--animation-duration) var(--animation-ease) backwards var(--animation-delay),
		slide-in-right var(--animation-duration) var(--animation-ease) backwards var(--animation-delay);
	}

	& > [class^="title-"] > span:nth-child(3) {
		animation-delay : calc(var(--animation-duration) + var(--animation-delay));
	}
}

.animation-btn-reveal {
	& > [class^="btn-"] {
		--animation-delay    : 900ms;

		animation : fade-in var(--animation-duration) var(--animation-ease) backwards var(--animation-delay),
		scale-in var(--animation-duration) var(--animation-ease) backwards var(--animation-delay);
	}
}

.animation-title-fade {
	& > [class^="title-"] {
		animation : fade-in 400ms ease-out backwards;
	}
}

@keyframes fade-in {
	from {
		opacity : 0
	}

	to {
		opacity : 1
	}
}

@keyframes fade-in-step {
	0%, 75% {
		opacity : 0
	}

	100% {
		opacity : 1
	}
}

@keyframes scale-in {
	from {
		transform : scale(0)
	}

	to {
		transform : scale(1)
	}
}

@keyframes slide-in-right {
	from {
		transform : translateX(-20%)
	}
}
