
html {
	font-size : 62.5%;
}

body {
	font-family      : var(--f-primary), Helvetica Neue, Arial;
	font-size        : 1rem;
	font-weight      : var(--f-weight-2);
	color            : var(--neutral-5);
}

a {
	text-decoration : inherit;
	color           : var(--text, inherit);
	transition      : text-decoration 250ms, color var(--transition-duration) var(--transition-ease);

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			text-decoration : none;
		}
	}

	& > :where(svg, path) {
		color : inherit;
		fill  : currentColor;
	}
}

// dev only
//.typography {
//	background-color : #181818;
//	color            : white;
//}
//
//p:not(:first-child) {
//	margin-block : 2rem;
//}
//
//.break {
//	margin-block : 10rem;
//}
