
html {
	font-size : 62.5%;
}

body {
	font-family : var(--f-serif), Helvetica Neue, Arial;
	font-size   : 1rem;
	font-weight : var(--f-weight-2);
	color       : var(--neutral-6);

	&[data-menu-open="true"] {
		@include breakpoint(max, em(1025px)) {
			overflow-y : hidden;
			width      : calc(100% - var(--scroll-bar-width));
		}
	}
}

section {
	padding-block : clamped(5rem, 15rem, em(330px), em(1365px)); // props
}

a {
	--transition-duration : 300ms;
	--transition-ease     : ease-out;

	text-decoration       : inherit;
	color                 : var(--text, inherit);
	transition            : text-decoration 250ms, color var(--transition-duration) var(--transition-ease);

	&:where([data-disabled="true"] &, &[data-disabled="true"]) {
		pointer-events      : none;
		color               : var(--text-disabled, var(--neutral-5));
		-webkit-text-stroke : var(--text-disabled-stroke, 0.3px);
	}

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			text-decoration : none;
		}
	}

	&:where(:focus:not([class^="btn-"]), :focus-visible) {
		outline        : var(--outline-size) var(--outline-style) var(--outline-color);
		outline-offset : calc(var(--outline-size) * 2 + 1px);
	}

	& > :where(svg, path) {
		color : inherit;
		fill  : currentColor;
	}
}

button {
	&:focus-visible {
		outline        : var(--outline-size) var(--outline-style) var(--outline-color);
		outline-offset : calc(var(--outline-size) * 2 + 1px);
	}

	& > :where(svg, path) {
		color : inherit;
		fill  : currentColor;
	}
}


.test {
	background : linear-gradient(to right bottom, khaki, steelblue, darkkhaki);
	height     : 1000px;
}