
html {
	font-size : 62.5%;
}

body {
	font-family : var(--f-primary), Helvetica Neue, Arial;
}

a {
	text-decoration : inherit;
	color           : var(--text, inherit);
	transition      : text-decoration 250ms;

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			text-decoration : none;
		}
	}

	& > :where(svg, path) {
		color : inherit;
		fill  : currentColor;
	}
}

section {
	padding : 2rem;
	height  : 50vh;
}

.section-navbar {
	background-color : #181818;
	padding-block    : 3rem;
	height           : auto;
	color            : white;
}

.navbar {
	display : flex;
	gap     : 30px;
}

.navbar-drop {
	margin-top     : 4rem;
	display        : flex;
	flex-direction : column;
	gap            : 30px;
}

.section-search {
	background-color : #181818;
	padding-block    : 2rem;
	color            : white;
	height           : 60vh;
}

.section-cover {
	background-color : #181818;
	padding-block    : 2rem;
	color            : white;
	height           : 70vh;
}

.section-models{
	background-color : #181818;
	padding-block    : 2rem;
	color            : white;
	height           : 50vh;
}

.section-footer{
	background-color : #181818;
	color            : white;
	height           : 40vh;
}