


// Global styles
[class*="title-"] {
	text-transform : uppercase;
	font-weight    : var(--f-weight-4);
	letter-spacing : var(--letterspacing-2);
	line-height    : var(--line-height-1);

	@include breakpoint(max, screen-md) {
		line-height : var(--line-height-2);
	}
}

[class^="subtitle-"] {
	--space : 0.45em;

	@include breakpoint(max, screen-md) {
		line-height : var(--line-height-5);
	}
}

[class^="title-"] > span {
	display : block;
}

[class^="title-"] > span:first-of-type[class^="subtitle-"] {
	margin-block-end : var(--space);
}

[class^="title-"] > span:last-of-type[class^="subtitle-"] {
	margin-block-start : var(--space);
}

[class^="title-"] + [class^="title-"] {
	margin-block-start : var(--space, var(--space-4));
}

[class^="subtitle-"] + [class^="title-"] {
	margin-block-start : var(--space, var(--space-4));
}

[class*="link-"] {
	font-weight    : var(--f-weight, var(--f-weight-3));
	text-transform : var(--text-transform, uppercase);
}

[class*="title-"] + [class*="description-"] {
	margin-block-start : var(--space, var(--space-2));
}

[class*="description-"] {
	max-inline-size : var(--measure, var(--measure-8));
}



// Styles for titles
.title-1 {
	font-size       : var(--f-fluid-5);
	letter-spacing  : var(--letterspacing-3);
	max-inline-size : var(--measure, var(--measure-5));

	@include breakpoint(max, screen-md) {
		line-height : var(--line-height-4);
	}
}

.title-2 {
	font-size       : var(--f-fluid-6);
	max-inline-size : var(--measure, var(--measure-1));
}

.title-3 {
	font-size       : var(--f-fluid-7);
	max-inline-size : var(--measure, var(--measure-1));
}



// Specific styles for titles
.title-date {
	font-size      : var(--f-size-4);
	font-weight    : var(--f-weight-3);
	letter-spacing : var(--letterspacing-5);
}

.title-preferences {
	font-size      : var(--f-size-2);
	font-weight    : var(--f-weight-3);
	letter-spacing : var(--letterspacing-6);
}



// Styles for subtitles
.subtitle-1 {
	font-size      : var(--f-size, max(0.285em, var(--f-size-4)));
	font-weight    : var(--f-weight, var(--f-weight-3));
	letter-spacing : var(--letterspacing-5);
	position       : relative;

	&::after {
		content          : "";
		position         : absolute;
		inset            : 0;
		background-color : transparent;
		z-index          : 5;
	}
}

.subtitle-2 {
	font-size      : var(--f-fluid-3);
	font-weight    : var(--f-weight, var(--f-weight-2));
	letter-spacing : var(--letterspacing-4);
}

.subtitle-3 {
	font-size      : var(--f-fluid-4);
	font-weight    : var(--f-weight, var(--f-weight-3));
	letter-spacing : var(--letterspacing-4);

	@include breakpoint(max, screen-lg) {
		letter-spacing : var(--letterspacing-3);
	}
}



// Styles for descriptions
.description-1 {
	font-size   : var(--f-size-2);
	font-weight : var(--f-weight, var(--f-weight-1));
}

.description-2 {
	font-size      : var(--f-size-3);
	font-weight    : var(--f-weight, var(--f-weight-1));
	letter-spacing : var(--letterspacing-3);
}



// Styles for links
.link-1 {
	font-size      : var(--f-fluid-2);
	letter-spacing : var(--letterspacing, var(--letterspacing-4));

	@include breakpoint(max, screen-lg) {
		--f-weight : var(--f-weight-2);
	}
}

.link-2 {
	font-size   : var(--f-size-5);
	line-height : var(--line-height-3);

	@include breakpoint(max, screen-lg) {
		--f-weight : var(--f-weight-2);
	}
}

[class*="link-"].link-underline {
	--space : 0.5em;

	&::after {
		content          : "";
		display          : block;
		border-bottom    : 1px solid;
		transform        : scaleX(0) translateY(var(--space));
		transform-origin : left;
		transition       : transform var(--transition-duration, 300ms) var(--transition-easing, ease-in-out);
	}

	&:focus {
		outline : none;
	}

	&:focus::after {
		transform : scaleX(1) translateY(var(--space));
	}

	@media (hover : hover) {
		&:hover::after,
		&[data-active="true"]::after {
			transform : scaleX(1) translateY(var(--space));
		}
	}
}



// Styles for sublinks
.sublink-1 {
	font-size   : var(--f-size-2);
	font-weight : var(--f-weight, var(--f-weight-2));
}