// Global styles
[class*="title-"] {
	text-transform : uppercase;
	line-height    : var(--line-height-1);

	@include breakpoint(max, em(725px)) {
		line-height : var(--line-height-2);
	}
}

[class^="subtitle-"] {
	--space : 0.45em;

	@include breakpoint(max, em(725px)) {
		line-height : var(--line-height-5);
	}
}

[class^="title-"] > span {
	display : block;
}

[class^="title-"] > span:first-of-type[class^="subtitle-"] {
	margin-block-end : var(--space);
}

[class^="title-"] > span:last-of-type[class^="subtitle-"] {
	margin-block-start : var(--space);
}

[class^="subtitle-"] + [class^="title-"] {
	margin-block-start : var(--space, 2rem);
}

[class*="link-"] {
	font-weight    : var(--f-weight, var(--f-weight-3));
	text-transform : var(--text-transform, uppercase);
}

// Styles for titles
.title-1 {
	font-size       : var(--f-size, #{clamped(2.8rem, 3.2rem, em(330px), em(1375px))});
	font-weight     : var(--f-weight-4);
	letter-spacing  : var(--letterspacing-3);
	max-inline-size : var(--measure, var(--measure-5));
}

.title-2 {
	font-size       : var(--f-size, #{clamped(4rem, 7.6rem, em(330px), em(1375px))});
	font-weight     : var(--f-weight, var(--f-weight-3));
	letter-spacing  : var(--letterspacing-2);
	max-inline-size : var(--measure, var(--measure-1));
}

.title-3 {
	font-size       : var(--f-size, #{clamped(4rem, 11rem, em(330px), em(1375px))});
	font-weight     : var(--f-weight, var(--f-weight-4));
	letter-spacing  : var(--letterspacing-2);
	max-inline-size : var(--measure, var(--measure-1));
}

// Specific styles for titles
.title-date {
	font-size      : var(--f-size, 1.8rem);
	font-weight    : var(--f-weight-3);
	letter-spacing : var(--letterspacing-5);
}

.title-preferences {
	font-size      : var(--f-size, 1.4rem);
	font-weight    : var(--f-weight-3);
	letter-spacing : var(--letterspacing-6);
}

// Styles for subtitles
.subtitle-1 {
	font-size      : var(--f-size, max(0.285em, 1.8rem));
	font-weight    : var(--f-weight, var(--f-weight-3));
	letter-spacing : var(--letterspacing-5);
	position       : relative;

	&::after {
		content          : "";
		position         : absolute;
		inset            : 0;
		background-color : transparent;
		z-index          : 5;
	}
}

.subtitle-2 {
	font-size      : var(--f-size, #{clamped(2rem, 3rem, em(330px), em(1375px))});
	font-weight    : var(--f-weight, var(--f-weight-2));
	letter-spacing : var(--letterspacing-4);
}

.subtitle-3 {
	font-size      : var(--f-size, #{clamped(2.5rem, 3.5rem, em(330px), em(1375px))});
	font-weight    : var(--f-weight, var(--f-weight-3));
	letter-spacing : var(--letterspacing-4);

	@include breakpoint(max, em(1025px)) {
		letter-spacing : var(--letterspacing-3);
	}
}


// Styles for descriptions
.description-1 {
	font-size   : var(--f-size, 1.4rem);
	font-weight : var(--f-weight, var(--f-weight-1));
}

.description-2 {
	font-size      : var(--f-size, 1.6rem);
	font-weight    : var(--f-weight, var(--f-weight-1));
	letter-spacing : var(--letterspacing-3);
}


// Styles for links
.link-1 {
	font-size      : var(--f-size, #{clamped(1.4rem, 1.7rem, em(330px), em(1375px))});
	letter-spacing : var(--letterspacing, var(--letterspacing-4));

	@include breakpoint(max, em(1025px)) {
		--f-weight : var(--f-weight-2);
	}
}

.link-2 {
	font-size   : var(--f-size, 2.2rem);
	line-height : var(--line-height-3);

	@include breakpoint(max, em(1025px)) {
		--f-weight : var(--f-weight-2);
	}
}

[class*="link-"].link-underline {
	--space : 0.5em;

	&::after {
		content          : "";
		display          : block;
		border-bottom    : 1px solid;
		transform        : scaleX(0) translateY(var(--space));
		transform-origin : left;
		transition       : transform var(--transition-duration, 300ms) var(--transition-easing, ease-in-out);

	}

	&:focus {
		outline : none;
	}

	&:focus::after {
		transform : scaleX(1) translateY(var(--space));
	}

	@media (hover : hover) {
		&:hover::after,
		&[data-active="true"]::after {
			transform : scaleX(1) translateY(var(--space));
		}
	}
}


// Styles for sublinks
.sublink-1 {
	font-size   : var(--f-size, 1.4rem);
	font-weight : var(--f-weight, var(--f-weight-2));
}