
:root {
	@include generator($config);
}

.f-fluid-1 {
	font-size : clamped(1.3rem, 1.6rem, em(1025px), em(1365px));
}

.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
}


