
:root {
	@include generator($config);

	--outline-size              : max(1px, 0.08em);
	--outline-style             : solid;
	--outline-color             : currentColor;
}

//@property --space {
//  syntax: '<length>';
//  inherits: false;
//  initial-value: 0;
//}

.f-fluid-1 {
	font-size : clamped(1.3rem, 1.6rem, em(1025px), em(1365px));
}

.space-1 {
	--space : 2.5rem;
}

.space-2 {
	--space : 6rem;
}

.space-3 {
	--space : 25rem;
}

.space-4 {
	--space : 4rem;
}

.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
}


