button:where(.btn-primary, .btn-secondary) {
	&:where(&, :active, :visited) {
		--text           : black;
		--surface        : white;

		display          : inline-grid;
		place-items      : center;
		justify-self     : start;
		line-height      : 1;
		text-decoration  : none;
		text-transform   : uppercase;
		color            : var(--text);
		background-color : var(--surface);
		min-inline-size  : var(--btn-size, 21.5rem);
		padding          : var(--btn-space, 1.5rem);
		font-size        : var(--btn-f-size, 1.6rem);
		font-weight      : var(--btn-f-weight, var(--f-weight-2));
		border           : solid var(--btn-border-size, 1px);

		@include breakpoint(max, em(600px)) {
			min-inline-size : 100%;
		}
	}

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			--hover-text     : var(--surface);
			--hover-surface  : var(--text);

			color            : var(--hover-text);
			background-color : var(--hover-surface);
		}
	}
}

.btn-secondary {
	--text    : white;
	--surface : black;
}

.btn-hexagon {
	block-size   : var(--btn-size, 6.6rem);
	aspect-ratio : 1 / 1;

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			--surface : white;
			--symbol  : black;
		}
	}
}

.btn-hamburger {
	--surface       : white;
	--line-size     : 1px;

	position        : relative;
	inline-size     : var(--btn-size, 2.5rem);
	block-size      : var(--btn-size, 1.7rem);
	transform       : translateY(-1px); // To make it more centred with elements around

	display         : flex;
	flex-direction  : column;
	justify-content : center;

	&__line {
		display          : block;
		inline-size      : 100%;
		block-size       : var(--line-size);
		background-color : var(--surface);
		border-top       : var(--line-size) solid var(--surface);
		transition       : 900ms;
	}

	&__line:nth-child(2) {
		//margin-block-start : var(--space, 0.7rem);
		margin-block : auto;
	}

	[aria-expanded="true"] > &__line {


		position : absolute;
	}

	[aria-expanded="true"] > &__line:nth-child(1) {
		transform        : rotate(45deg);
		transform-origin : left;
		//margin-bottom: -8px;
	}

	[aria-expanded="true"] > &__line:nth-child(2) {
		opacity    : 0;
		visibility : hidden;
		margin-block : 0;
	}

	[aria-expanded="true"] > &__line:nth-child(3) {
		transform : rotate(-45deg);

		//margin-top: -1px;
	}
}