
.disclaimer {
	--disclaimer-symbol : "*";

	max-inline-size     : revert;
	display             : grid;
	grid-template-areas : "stack";

	& > * {
		grid-area : stack;
		padding-inline-start: 2ch;
	}

	&::after {
		content   : var(--disclaimer-symbol);
		grid-area : stack;
	}
}