
.footer {
	padding-block : var(--space-9);

	&__container {
		display               : grid;
		grid-template-columns : 1fr auto;
		gap                   : var(--space-6);
		align-items           : start;
		grid-template-areas   :
				"navigation socials"
				"disclaimer disclaimer"
				"description description";

		@include breakpoint(max, screen-lg) {
			grid-template-columns : 1fr;
			grid-template-areas   :
					"navigation"
					"disclaimer"
					"description"
					"socials";
		}
	}

	&__navigation {
		grid-area : navigation;
	}

	&__socials {
		grid-area : socials;
		justify-self: end;

		@include breakpoint(max, screen-lg) {
			justify-self: start;
		}
	}

	&__disclaimer {
		grid-area : disclaimer;
	}

	&__description {
		grid-area : description;
	}
}