
.menu {

	margin-block-start : -2px; // fixes gap between menu and navbar
	overflow           : hidden;
	clip-path          : inset(0 0 100% 0);
	max-block-size     : var(--block-size);
	transition         : max-block-size var(--block-transition-duration) var(--block-transition-ease),
	clip-path var(--clip-transition-duration) var(--clip-transition-ease);


	&[data-menu-open="true"] {

		--clip-transition-ease : ease-out;
		clip-path              : inset(0 0 0 0);
	}

	&__grid {
		--space               : #{clamped(2.5rem, 3rem, em(725px), em(1025px))}; // props

		inline-size           : min(155rem, 85%);
		padding-block         : calc(var(--space) * 2); // props
		margin-inline-start   : auto;
		display               : grid;
		grid-template-columns : 1fr 1fr 1fr;
		justify-items         : start;
		row-gap               : var(--space);
		column-gap            : var(--space);

		@include breakpoint(max, em(1025px)) {
			inline-size           : 100%;
			grid-template-columns : 1fr;
		}
	}

	&__grid:where([role='list']) {
		grid-auto-flow     : column;
		grid-template-rows : 1fr 1fr 1fr;

		@include breakpoint(max, em(1025px)) {
			padding-block-start   : 10rem;
			grid-template-columns : 1fr;
			grid-auto-flow        : row;
		}
	}

	&__grid:where([role='list']) > &__item:nth-of-type(-n + 7) {
		display : none;

		@include breakpoint(max, em(1025px)) {
			position    : relative;
			display     : block;
			inline-size : 100%;
		}
	}

	&__grid:not([role='list']) > &__item + &__item {
		@include breakpoint(max, em(1025px)) {
			margin-block-start : var(--space);
		}
	}

	&__item .cluster {
		inline-size : min(30rem, 100%);
	}

	&__item .title-preferences + .cluster {
		margin-block-start : 3rem;
	}
}