
.navigation {
	position    : fixed;
	z-index     : layer('navigation');
	inline-size : 100%;
	overflow-y  : hidden;

	@include breakpoint(max, screen-lg) {
		block-size : var(--block-size);
	}

	&[data-menu-open="true"] {
		@include breakpoint(max, screen-lg) {
			overflow-y : auto;
		}
	}
}