
.navbar {
	overflow       : hidden;
	min-block-size : var(--block-size);
	transition     : min-block-size 300ms ease-out;

	&__container {
		display       : flex;
		padding-block : clamped(0.8rem, 1.7rem, em(725px), em(1025px)); // props
	}

	&__list {
		position    : relative;
		display     : flex;
		align-items : center;
		gap         : 2.6rem // props
	}

	&__list:first-of-type {
		inline-size   : 100%;
		margin-inline : 5rem; // props

		@include breakpoint(max, em(1025px)) {
			display : none;
		}
	}

	&__list:first-of-type > &__list-item:nth-of-type(5) {
		margin-inline-start : auto;
	}

	&__list:last-of-type {
		margin-inline-start : auto;
	}

	&__list-item > &__sublist {
		top : 100%;
	}

	&__sublist {
		--transition-duration : 200ms;
		--transition-ease     : ease-out;

		opacity               : 0;
		visibility            : hidden;
		position              : absolute;
		min-block-size        : 100%;
		inline-size           : max-content;
		padding-block         : 3.9rem; // props
		display               : flex;
		flex-direction        : column;
		transition            : opacity var(--transition-duration) var(--transition-ease), visibility var(--transition-duration) var(--transition-ease);
	}

	&__sublist[data-open="true"] {
		opacity    : 1;
		visibility : visible;
	}

	&__sublist-item > &__sublist {
		padding-inline-start : 8rem;
		inline-size          : 100vw;
		left                 : 100%;
		top                  : 0;
	}

	&__sublist-item {
		width        : fit-content;
		margin-block : 1rem; // props
	}

	&__sublist-item:first-child {
		margin-block-start : 0;
	}

	&__sublist-item:last-child {
		margin-block-end : 0;
	}
}

// TODO
// Responsive
// finish divider
// refactor
// func
// looping
// icons/btns
// accessibility