
.slider {
	--transition-duration : 500ms;
	--transition-ease     : ease-out;

	position              : relative;
	display               : grid;
	block-size            : 100vh;
	min-block-size        : 70rem;

	//temp
	@include breakpoint(max, em(1025px)) {
		display : none;
	}

	&__container {
		z-index       : 1;
		display       : grid;
		align-content : space-between;
		align-items: stretch;
	}

	&__slides {
		position : absolute;
		inset    : 0;
		overflow : hidden;
	}

	&__items {
		position    : absolute;
		inset       : 0 0 auto auto;
		block-size  : 100%;
		white-space : nowrap;
	}

	&__item {
		display     : inline-block;
		block-size  : 100%;
		inline-size : 29vw;
		will-change : inline-size;
		transition  : inline-size var(--transition-duration) var(--transition-ease);

		@include breakpoint(min, em(2275px)) {
			inline-size : 30vw;
		}

		@include breakpoint(max, em(1375px)) {
			inline-size : 35vw;
		}
	}

	&__item[data-active="true"] {
		inline-size : 60vw;

		@include breakpoint(min, em(2275px)) {
			inline-size : 53vw;
		}
	}

	&__item[data-active="true"] + &__item {
		inline-size : 0;
	}

	&__item[data-active="true"] &__skew::after {
		opacity : 0;
	}

	&__skew {
		position         : relative;
		block-size       : 100%;
		inline-size      : 100%;
		overflow         : hidden;
		transform        : skew(-20deg);
		transform-origin : bottom left;
	}

	&__skew::after {
		content          : "";
		position         : absolute;
		inset            : 0;
		opacity          : 1;
		background-color : hsla(0, 0%, 0%, 0.75);
		transition       : opacity var(--transition-duration) var(--transition-ease);
	}

	&__skew-reverse {
		block-size       : inherit;
		inline-size      : inherit;
		transform        : skew(20deg);
		transform-origin : inherit;

		@include breakpoint(min, em(2275px)) {
			inline-size : 120%;
		}
	}

	&__skew-reverse img {
		position        : absolute;
		inset           : 50% auto auto 60%;
		transform       : translate(-50%, -50%);
		inline-size     : auto;
		max-inline-size : unset;
		block-size      : inherit;

		@include breakpoint(min, em(2275px)) {
			inline-size : inherit;
			object-fit  : cover;
		}
	}
}
