
.slider {
	--transition-duration : 500ms;
	--transition-ease     : ease-out;

	position              : relative;
	display               : grid;
	block-size            : 100vh;
	min-block-size        : 70rem;

	&__container {
		z-index       : 1;
		display       : grid;
		align-content : space-between;
	}

	&__slides {
		position : absolute;
		inset    : 0;
		overflow : hidden;
	}

	&__items {
		position    : absolute;
		inset       : 0 0 auto auto;
		block-size  : 100%;
		white-space : nowrap;
	}

	&__item {
		display     : inline-block;
		block-size  : 100%;
		inline-size : 29vw;
		will-change : width;
		transition  : width var(--transition-duration) var(--transition-ease);

		@include breakpoint(min, em(2275px)) {
			inline-size : 30vw;
		}

		@include breakpoint(max, em(1365px)) {
			inline-size : 35vw;
		}
	}

	&__item[data-active="true"] {
		width : 60vw;

		@include breakpoint(min, em(2275px)) {
			inline-size : 53vw;
		}
	}

	&__item[data-active="true"] + &__item {
		width : 0;
	}

	&__item[data-active="true"] &__skew::after {
		opacity : 0;
	}

	&__skew {
		position         : relative;
		block-size       : 100%;
		inline-size      : 100%;
		overflow         : hidden;
		transform        : skew(-20deg);
		transform-origin : bottom left;
	}

	&__skew::after {
		content          : "";
		position         : absolute;
		inset            : 0;
		opacity          : 1;
		background-color : rgba(0, 0, 0, 0.75);
		transition       : opacity var(--transition-duration) var(--transition-ease);
	}

	&__skew-reverse {
		block-size       : inherit;
		inline-size      : inherit;
		transform        : skew(20deg);
		transform-origin : inherit;

		@include breakpoint(min, em(2275px)) {
			inline-size : 120%;
		}
	}

	&__skew-reverse img {
		position        : absolute;
		inset           : 50% auto auto 60%;
		transform       : translate(-50%, -50%);
		inline-size     : auto;
		max-inline-size : unset;
		block-size      : inherit;

		@include breakpoint(min, em(2275px)) {
			inline-size : inherit;
			object-fit  : cover;
		}
	}
}

// TODO:
// - functionality for left click ✔️
// - refactor scss ✔️
// - refactor jsx ✔️
// - loop through items ✔️
// - functionality for changing texts ✔️
// - responsiveness ✔️
// - accessibility ✔️
// - mobile version
// https://codepen.io/toddwebdev/pen/yExKoj?editors=0110
// https://stackoverflow.com/questions/67962715/how-to-make-drag-to-scroll-work-smoothly-with-scroll-snapping
// https://codepen.io/juliangarnier/pen/vYXogxd/b3bc58f943768f5276563ae7077e41e0?editors=0110
// - rename classes to make more sense