.swiper {

	// temp
	display : none;
	@include breakpoint(max, em(1025px)) {
		display : block;
	}

	&__reel {
		margin-block      : clamped(3rem, 5rem, em(330px), em(1025px)); // props
		inline-size       : 100%;
		display           : grid;
		grid-auto-flow    : column;
		grid-auto-columns : 80%;
		overflow-x        : scroll;
		scrollbar-width   : none;

		&::-webkit-scrollbar {
			display : none;
		}

		@media not (hover : hover) {
			overscroll-behavior-inline : contain;
			scroll-snap-type           : inline mandatory;
			scroll-behavior            : smooth;
		}
	}

	&__item {
		margin-inline-start : calc(-1px * var(--items-collapsed));
		background-image    : linear-gradient(to top, var(--neutral-1), var(--neutral-2), var(--neutral-1));
		user-select         : none;

		@media not (hover : hover) {
			scroll-snap-align : start;
		}
	}

	&__item img {
		pointer-events : none;
	}

	// Loop to add z-index to each item with each iteration of the loop add lower z-index to item. So items they don't overlap.
	$y      : 3;
	@for $i from 1 through $y {
		&__item:nth-of-type(#{$i}) {
			z-index : #{$y};
		}
		$y : $y - 1;
	}
}
