.swiper {

	// temp
	display : none;
	@include breakpoint(max, em(1025px)) {
		display : block;
	}

	&__reel {
		margin-block      : clamped(5rem, 8rem, em(330px), em(1025px));
		inline-size       : 100%;
		display           : grid;
		grid-auto-flow    : column;
		grid-auto-columns : 70%;
		overflow-x        : scroll;
		scrollbar-width   : none;

		@media not (hover : hover) {
			overscroll-behavior-inline : contain;
			scroll-snap-type           : inline mandatory;
			scroll-behavior            : smooth;
		}

		&::-webkit-scrollbar {
			display : none;
		}
	}

	&__item {
		margin-inline-start : -4rem;
		background-image    : linear-gradient(to top, #ffffff, #c5c5c5, #ffffff);
		user-select         : none;

		@media not (hover : hover) {
			scroll-snap-align : start;
		}
	}

	&__item img {
		pointer-events : none;
	}

	$y      : 3;
	@for $i from 1 through $y {
		&__item:nth-of-type(#{$i}) {
			z-index : #{$y};
		}
		$y : $y - 1;
	}
}
