
.box {
	padding-inline   : var(--box-inline-space);
	padding-block    : var(--space, var(--space-2));
	color            : var(--text, var(--neutral-1));
	background-color : var(--surface, var(--secondary));
	border-radius    : var(--radius, var(--radius-3));
}