
[class*="container"] {
	margin-inline : auto;
	inline-size   : min(200rem, 90%);

	:where(main, footer) & {
		padding-inline : clamped(0rem, 10rem, screen-md, screen-xl);
	}

	main & & {
		margin-inline: revert;
		inline-size: auto;
		padding-inline : clamped(0rem, 14rem, screen-lg, screen-xxl);
	}
}