
.app-container {
	margin-inline : auto;
	inline-size   : min(190rem, 90%);
}

.container {
	padding-inline        : clamped(0rem, 10rem, em(700px), em(1365px));
	display               : grid;
	grid-template-columns : 1fr;
}
