
.cover {
	display             : grid;
	align-items         : center;
	min-block-size      : 100vh;
	padding-block       : clamped(15rem, 30rem, em(330px), em(1025px)); // props
	background-position : center;
	background-size     : cover;

	@include breakpoint(max, em(1025px)) {
		align-items : start;
	}

	@include landscape(phone) {
		padding-block : clamped(10rem, 16rem, em(330px), em(1025px)); // props
	}
}
