
.cover {
	min-block-size      : 100vh;
	background-position : center;
	background-size     : cover;

	&__container {
		padding-block : 20rem; // props
		display       : grid;
		align-items   : center;
		height        : inherit;

		@include breakpoint(max, em(1025px)) {
			align-items : start;
		}
	}
}
