
.cover {
	min-block-size      : 100vh;
	display             : grid;
	align-items         : center;
	background-position : center;
	background-size     : cover;

	@include breakpoint(max, em(1025px)) {
		align-items : start;
	}

	&__container {
		padding-block : 20rem; // props
	}

	&__container > * + * {
		margin-block-start : var(--space, 2rem); // props
	}
}
