
.grid {
	display               : grid;
	grid-template-columns : repeat(auto-fit, minmax(min((var(--measure, #{$author-default-measure})), 100%), 1fr));
	gap                   : var(--space, #{$author-default-space});
}

