
.icon {
	--icon-size: 1.5em;

	width  : var(--icon-size);
	height : var(--icon-size);
}

.with-icon {
	display     : inline-flex;
	align-items : baseline;
}

.with-icon.icon {
	margin-inline-end : 1rem;
}

.at-end.icon {
	position         : absolute;
	inset-inline-end : 0;
	top              : 50%;
	transform        : translateY(-50%);
}
