
.icon {
	--icon-size: 1.5em;

	width  : var(--icon-size);
	height : var(--icon-size);
}

.icon-at-end {
	position         : absolute;
	inset-inline-end : 0;
	top              : 50%;
	transform        : translateY(-50%);
}
