
.z-pattern {
	& > div:nth-child(even) div:only-child,
	& > div:nth-child(even), {
		display        : grid;
		grid-auto-flow : dense;
		direction      : rtl;
	}

	& > div:nth-child(even) div:only-child > div,
	& > div:nth-child(even) > div {
		direction : ltr;
	}
}

